

<div class="superheading">  &nbsp &nbsp UBS Post-Trade Services Portal<p></div>


<!-- 
<div class="heading"><font size="3"></font><p></div>
<div class="heading"><font size="3"></font><p></div> -->
<div class="summary-table">
<div class="superheading1">Streamline your Post Trade Process<p></div>
		<div class="heading"><font size="4">Cash Equities  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp  Business Date: <p></div>
		<div class="heading"><font size="4">US Domestic / International   <p></div>


	<table class="table table-condensed">
		<thead>
			<th>My Tasks</th>
			<th>Complete by</th>
			<th>Nos</th>
		</thead>
		<tbody>
			<!-- <tr class="info">
			<td>{{savingsdetails.account_number}}</td>
			<td>{{savingsdetails.branch_name}}</td>
			<td>{{savingsdetails.account_holder}}</td>
			</tr> -->
			<tr class="info">
			<td>Outstanding Trades - All Tasks below</td>
			<td>July-10-2015</td>
			<td>100</td>
			</tr>
			<tr class="info">
			<td>Outstanding Trades - All Tasks below</td>
			<td>July-10-2015</td>
			<td>100</td>
			</tr>
			<tr class="info">
			<td>Outstanding Trades - All Tasks below</td>
			<td>July-10-2015</td>
			<td>100</td>
			</tr>
			<tr class="info">
			<td>Outstanding Trades - All Tasks below</td>
			<td>July-10-2015</td>
			<td>100</td>
			</tr>
			<tr class="info">
			<td>Outstanding Trades - All Tasks below</td>
			<td>July-10-2015</td>
			<td>100</td>
			</tr>
			<tr class="info">
			<td>Outstanding Trades - All Tasks below</td>
			<td>July-10-2015</td>
			<td>100</td>
			</tr>
			<tr class="info">
			<td>Outstanding Trades - All Tasks below</td>
			<td>July-10-2015</td>
			<td>100</td>
			</tr>
			<tr class="info">
			<td>Outstanding Tradel Tasks below</td>
			<td>July-10-2015</td>
			<td>100</td>
			</tr>
		</tbody>
	</table>

<!-- <div class="chartsheading"><font size="4.5"> &nbsp &nbsp Savings Account Transactions</font></div>
 --><div>
	
	<div id="crdrchart1" ng-controller="crdrChartController">
<!-- 		<div class="chartheading"><font size="3.5"> &nbsp &nbsp &nbsp &nbsp Total Number of Transactions</font></div>
 -->		<nvd3-pie-chart
	        data="crdrData"
	        id="crdrCharts"
	        width="200"
	        height="300"
	        x="xFunction()"
	        y="yFunction()"
	        showLabels="true"
	        pieLabelsOutside="true"
	        showValues="false"
	        labelType="value"
	        tooltips="true"
	        showlegend="true">
	            <svg></svg>
	    </nvd3-pie-chart>
    </div>
	<div id="typechart" ng-controller="typeChartController" ng-show="displaytypechart">
<!-- 		<div class="chartheading"><font size="3.5"> &nbsp &nbsp {{crdr_type}} » Transactions by Type</font></div>
 -->		<nvd3-pie-chart
	        data="typeData"
	        id="typeCharts"
	        width="200"
	        height="300"
	        x="xFunction()"
	        y="yFunction()"
	        showLabels="true"
	        pieLabelsOutside="true"
	        showValues="false"
	        labelType="value"
	        tooltips="true"
	        showlegend="true">
	            <svg></svg>
	    </nvd3-pie-chart>
    </div>
    
</div>
</div>
