<!-- 
<div  ng-controller="ChartsController">
	<div ng-controller="tweetChartController">
		<div class="heading"><font size="5"> &nbsp &nbsp Sentiment Analysis </font></div>
		<div id="tweetchart1" >
			<div class='search-box'>
				<input class="textbox" ng-model="brand1" type="text"/>
				<a class="btn brand-search" ng-click="searchbrand1()"><i class="glyphicon glyphicon-search"></i></a>
			</div>		
			<div class="greensquare">Positive</div>
			<div class="redsquare">Negative</div>
			<br style="clear:both" />
			<div class="title-brand">{{currentbrand1}}</div>
			<div class="sitepiechart">
				<nvd3-pie-chart
			        data="tweetpieData1"
			        id="tweetpieChart1"
			        width="750"
			        height="350"
			        x="xFunction()"
			        y="yFunction()"
			        showLabels="true"
			        pieLabelsOutside="true"
			        showValues="false"
			        labelType="percent"
			        tooltips="true"	        
			        color="colorFunction()"
			        tooltipcontent="pietoolTipContentFunction()">
			            <svg></svg>
			    </nvd3-pie-chart>
		    </div>

		    <div class="sitebarchart">
				    <nvd3-multi-bar-horizontal-chart
		            data="tweetbarData1"
		            id="tweetbarChart1"
		            width="360"
		        	height="150"
		            showXAxis="true"
		            showYAxis="true"
		            valueFormat="valueFormatFunction()"
		            >
			        <svg></svg>
			    	</nvd3-multi-bar-horizontal-chart>
	    	</div>
		</div>

		<div id="tweetchart2">
			<div class='search-box1'>
				<input class="textbox" ng-model="brand2" type="text"/>
				<a class="btn brand-search" ng-click="searchbrand2()"><i class="glyphicon glyphicon-search"></i></a>
			</div>
			<div class="greensquare1">Positive</div>
			<div class="redsquare">Negative</div>
			<br style="clear:both" />
			<div class="title-brand1">{{currentbrand2}}</div>
			<div class="sitepiechart">
				<nvd3-pie-chart
			        data="tweetpieData2"
			        id="tweetpieChart2"
			        width="350"
			        height="350"
			        x="xFunction()"
			        y="yFunction()"
			        showLabels="true"
			        pieLabelsOutside="true"
			        showValues="false"
			        labelType="percent"
			        tooltips="true"	        
			        color="colorFunction()"
			        tooltipcontent="pietoolTipContentFunction()">
			            <svg></svg>
			    </nvd3-pie-chart>
		    </div>

		    <div class="sitebarchart1">
				    <nvd3-multi-bar-horizontal-chart
		            data="tweetbarData2"
		            id="tweetbarChart2"
		            width="360"
		        	height="150"
		            showXAxis="true"
		            showYAxis="true"
		            valueFormat="valueFormatFunction()"
		            >
			        <svg></svg>
			    	</nvd3-multi-bar-horizontal-chart>
	    	</div>
		</div>
	</div>
	<!--  <div id="sitechart" ng-controller="siteChartController">
		<nvd3-pie-chart
	        data="siteData"
	        id="siteCharts"
	        width="360"
	        height="300"
	        x="xFunction()"
	        y="yFunction()"
	        showLabels="true"
	        pieLabelsOutside="true"
	        showValues="false"
	        labelType="percent"
	        tooltips="true"
	        showLegend="true">
	            <svg></svg>
	    </nvd3-pie-chart>
    </div>
    
     <div id="categorychart" ng-show="displaycategorychart" ng-controller="categoryChartController">
    	<span>{{site}}</span>
		<nvd3-pie-chart
	        data="categoryData"
	        id="categorycharts"
	        width="360"
	        height="300"
	        x="xFunction()"
	        y="yFunction()"
	        showLabels="true"
	        pieLabelsOutside="true"
	        showValues="false"
	        labelType="percent"
	        tooltips="true"
	        showLegend="true">
	            <svg></svg>
	    </nvd3-pie-chart>
    </div>
    
    <div id="subcategorychart" ng-show="displaysubcategorychart" ng-controller="subcategoryChartController">
    	<span>{{site}}</span> <span> >> </span> <span>{{category}}</span>
		<nvd3-pie-chart
	        data="subcategoryData"
	        id="subcategorycharts"
	        width="500"
	        height="340"
	        x="xFunction()"
	        y="yFunction()"
	        showLabels="true"
	        pieLabelsOutside="true"
	        showValues="false"
	        labelType="percent"
	        tooltips="true"
	        showLegend="true">
	            <svg></svg>
	    </nvd3-pie-chart>
    </div> -->
    
</div> -->