<div class="superheading3"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp   <span id="tab">Payment Instructions </tab><p></div>

<div position:absolute;
     width:300px;
     height:200px;
     z-index:15;
     top:50%;
     left:50%;
     margin:-100px 0 0 -150px>	
	<div >
		<table class="tab" align="center" >
		<tbody>
		<tr class="info">
			<td>
		    <div position:relative;
     width:300px;
     height:200px;
     top:50%;
     left:50%;>
	            <p class="">
	            	  <label> A/C Number </label>
		              <input type="text" class="form-control"  ng-required="true" close-text="Close" /> 
		              <span class=""> </span>
				</p>
			</div>
			</td>
		</tr>
		</tbody>
		</table>
	</div>
	<p>
	<p>
	<div class="getstatement1">
		<button type="button" class="btn btn-sm btn-info" ng-click="changeView()"><font size="3">Search Payment Orders</font>
		</button>
	</div>
</div>