<!-- <div> -->
<!-- 	<div class="heading"><font size="3"> &nbsp &nbsp Filter Transactions  </font></div>

	<div class = "dropdown">
	<div class="heading"><font size="3">Search Transactions</font><p></div>
	<bs-dropdown data-menu-type="button" select-val="selected_status = selectedVal" preselected-item="selected_status" data-dropdown-data="statuses"></bs-dropdown> 
	</div> -->

<!-- 	<div class="calendar">
	    <div class="row">
	    	<div class="headingCal"><font size="3">From</font><p></div>
	        <div class="col-md-6">
	            <p class="input-group">
	              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened1" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" /> 
	              <span class="input-group-btn">
	                <button type="button" class="btn btn-default" ng-click="open1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
	              </span>
	              </p>
	        </div>
	    </div>
	    <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
	    <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
	    <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" tooltip="After today restriction">Min date</button>
	</div>

	<div class="calendar2">
	    <div class="row">
	    	<div class="headingCal"><font size="3">To</font><p></div>
	        <div class="col-md-6">
	            <p class="input-group">
	              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt2" is-open="opened2" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />	             
	              <span class="input-group-btn">
	                <button type="button" class="btn btn-default" ng-click="open2($event)"><i class="glyphicon glyphicon-calendar"></i></button>
	              </span>
	             </p>
	        </div>
	    </div>
	    <button type="button" class="btn btn-sm btn-info" ng-click="today2()">Today</button>
	    <button type="button" class="btn btn-sm btn-danger" ng-click="clear2()">Clear</button>
	    <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin2()" tooltip="After today restriction">Min date</button>
	</div> -->


<!-- 	<div class="heading"><font size="3"></font><p></div>
 -->	<div class="superheading2">  &nbsp &nbsp UBS Post-Trade Services Portal<p></div>
	<div class="superheading3">Streamline your Post Trade Process<p></div>
	
	<!-- <div class="getstatement">
		<button type="button" class="btn btn-sm btn-info" ng-click="getUpdatedStatement()"><font size="2.5">Get Statement</font></button>
	</div> -->
	

	<div class ="statement">
<!-- 	<hr />
 -->  	<div ng-include="'partials/transactions.html'"></div>
	</div>
	
</div>