<div class="superheading2">  &nbsp &nbsp Payment Instructions <p></div>
<div class="superheading3"></div>
<div class = "ministatement">
	<div class="col-md-8 col-md-offset-1">
		<div id="scroll-section">
			<div id="credit">
				<!-- <div class="heading" style="display: block; height: 25px; text-align:center"><font size="4">UBS Details</font><p></div> -->
				<table class="table table-striped table-bordered">
					<div class="heading5">
						<font size="4.5">From {{res}}  To  {{res2}}
							<span style="float:right;">Debtor A/C # {{debtor_ac_number}}</span>
						</font>
						<p>
					</div>
					<thead>
						<tr>
							<th><b>Date</th>
							<th><b>Name</th>
							<th><b>Order ID</th>
							<th><b>No of Transactions</th>
							<th><b>Sum</th>
							<th><b>Status</th>
						</tr>
					</thead>
					<tbody>				
						    <tr ng-repeat="transaction in credit">
								<td><b>{{transaction.instance.CstmrCdtTrfInitn.GrpHdr.CreDtTm}}</td>
								<td><b>{{transaction.instance.CstmrCdtTrfInitn.GrpHdr.InitgPty.Nm}}</td>
								<td><b><a>{{transaction.instance.CstmrCdtTrfInitn.GrpHdr.MsgId}}</td>
								<td><b>{{transaction.instance.CstmrCdtTrfInitn.GrpHdr.NbOfTxs}}</td>
								<td><b>{{transaction.instance.CstmrCdtTrfInitn.GrpHdr.CtrlSum}}</td>			
								<td><b>{{transaction.instance.CstmrCdtTrfInitn.Status}}</td>
							</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class ="pagination">
			<a href="" ng-click="previousSavingsPage()">« Previous</a>
			<!-- 					<input class="pageNo" value="{{currentSavingsPage}}"/>
			-->					<a href="" ng-click="nextSavingsPage()">Next »</a>
		</div>
	</div>
</div>